<!-- Jumbotron -->
<div class="card card-image my-0" style="background-image: url(../../assets/images/green-leaves-background.jpg);">
  <div class="text-white text-center py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text">Parocode</h5>
      <h2 class="card-title h2 my-4 py-2">Its a jungle out there, you don't have to go it alone.</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">
        Here at parocode we are creating a ground breaking platform for programmers of all skill levels to network. Use our platform to learn, collaborate and network with programmers
        of all skill levels.
      </p>

      <app-user></app-user>

    </div>
  </div>
</div>
<!-- Jumbotron -->
