<!-- <mdb-navbar SideClass="navbar navbar-dark grey darken-4">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/logo.png" height="45" alt="">
    </a>
    <div class="md-form mt-0">
        <app-sign-in></app-sign-in>
    </div>
  </mdb-navbar-brand>
</mdb-navbar> -->

<div class="col-md-13">

    <ul class="navbar blue-grey darken-4 font-weight-bold z-depth-1">
      <li class="nav-item">
        <a class="navbar-brand" href="#">
          <img src="../../assets/images/logo.png" height="45" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a>
          <app-sign-in></app-sign-in>
        </a>
      </li>
    </ul>
</div>